<?xml version="1.0" encoding="UTF-8"?>
<configuration>      
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">      
        <encoder>      
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>    
            <charset>UTF-8</charset>     
        </encoder>      
    </appender>      
    <appender name="syslog"      
        class="ch.qos.logback.core.rolling.RollingFileAppender">      
        <File>target/logs/base/baseServer.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">      
            <fileNamePattern>target/logs/base/baseServer.%d.%i.log</fileNamePattern>
            <maxHistory>300</maxHistory>     
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">      
                <maxFileSize>200MB</maxFileSize>      
            </timeBasedFileNamingAndTriggeringPolicy>      
        </rollingPolicy>      
        <encoder>      
            <pattern>      
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>      
            <charset>UTF-8</charset>     
        </encoder>      
    </appender>      
    <root level="info">      
        <appender-ref ref="STDOUT" />
        <appender-ref ref="syslog" />    
    </root>      
</configuration>    